<div class="container">
	<div class='row'>
		<div class="col-sm-2">
			<a href="<%=new_event_path%>"><div class="btn btn-success btn-lg" role="button"><p>Create an event</p></div></a>
		</div>
		<div class="col-sm-2">
			
		</div>
		<div class="col-sm-8">
			<h1>All the events programmed</h1>
		</div>
	</div>
	<div class="row">
    <%@events.each do |event|%>
      <!-- event-->
      <div class="col-sm-2">
      	
      </div>
      <div class="col-sm-2">